<div class="timer">
  <div class="timer__data">{{ timerData | async | date : "HH:mm:ss" }}</div>
  <div class="timer__btn-container">
    <button (click)="startOrStopTimer()" class="timer__btn timer__stop-start">
      {{ isRunning ? "Stop" : "Start" }}
    </button>
    <button #myBtn class="timer__btn timer__wait" [disabled]="!isRunning">
      Wait
    </button>
    <button
      (click)="resetTimer()"
      class="timer__btn timer__reset"
      [disabled]="!isRunning"
    >
      Reset
    </button>
  </div>
</div>
